body {
  padding-top: 15vmin;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

/* ALL NAV BAR CLASSES */
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  align-items: flex-end;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 3px 8px #888888;
  z-index: 3;
}

.nav-logo {
  width: 20vmin;
  align-self: center;
  padding-left: 2%;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  padding-right: 4vmin;
}

.input-bar {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
  padding: 0 1vmin 0 1.5vmin;
}

.search-bar {
  padding-left: 5vmin;
}

.filter-img {
  font-family: inherit;
  border: none;
  border-bottom: 2px solid black;
  height: 40px;
}

.hover:hover {
  border-bottom: 4px solid black;
}

.hover:focus {
  border-bottom: 4px solid black;
}

form {
  display: flex;
  align-items: center;
}

.my-recipes {
  border-bottom: 2px solid black;
  padding: 0 2vmin;
  margin: 0;
}

.title-logo {
  width: 90vmin;
}

.user-icon {
  padding-right: 1%;
  width: 4vmin;
}

.user-name {
  display: flex;
  align-items: center;
  color: white;
}

.user-text {
  text-align: center;
  padding: 0 1.5vmin;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.menu-icon {
  display: none;
}

/* ALL RECIPE CARD CLASSES */
.all-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  height: 46vmin;
  width: 45vmin;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  background-color: #E1E1E1;
  margin: 3vmin;
  position: relative;
}

.recipe-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 10px #888888;
}

.pointer {
  cursor: pointer;
}

.recipe-img {
  padding-top: 3%;
  height: 35vmin;
  width: 42vmin;
  border-radius: 4%;
  filter: drop-shadow(0px 5px 8px #888888);
}

.heart-icon {
  width: 10vmin;
  position: absolute;
  right: 2vmin;
  top: 2vmin;
}

.recipe-title {
  position: relative;
  top: -4vmin;
  margin: 0;
  padding: 3vmin;
  font-size: 1.6rem;
  width: 40vmin;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ALL MODAL/POP-UP RECIPE CLASSES */
.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 80%);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow: hidden;
}

.recipe-popup {
  height: 70vmin;
  width: 80vmin;
  border: 2px white solid;
  border-radius: 5px;
  background-color: #E1E1E1;
  margin-top: 3vmin;
  overflow: auto;
  padding: 3vmin;
  padding-right: 5vmin;
}

.close-icon {
  float: right;
  width: 3vmin;
}

.modal-img {
  height: 40vmin;
  width: 45vmin;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 3px black);
}

.button-container {
  margin-top: 5vmin;
  display: flex;
  justify-content: space-around;
}

.modal-button {
  font-family: inherit;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.modal-button:hover {
  background-color: black;
  color: white;
}

.image-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  text-align: left;
  margin-bottom: 0.4vmin;
}

.oregano-font {
  font-family: 'Oregano', cursive;
}

.footer-logo {
  width: 60vmin;
  padding: 15vmin;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.off-page {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media print {
  .nav-bar, .all-recipes, .modal-img, .modal-button, .close-icon, h4 {
    display: none;
  }

  .recipe-popup {
    font-size: 1rem;
    height: auto;
    width: 100%;
    border: none;
    background-color: white;
    margin: 0;
    overflow: visible;
    padding: 0;
  }

  .recipe-popup > h2 {
    margin: 0;
  }

  .print-container {
    font-size: 1.1rem;
    display: flex;
  }

  .print-container > ul {
    width: 35%;
  }

  .print-container > ol {
    width: 65%;
    margin-top: 0;
  }
}

@page {
  margin: 2cm;
}

@media only screen and (max-device-width: 600px){
  body{
    margin-top: 5%;
  }
  .recipe-card {
    height: 92vmin;
    width: 90vmin;
  }
  .recipe-img {
    height: 70vmin;
    width: 84vmin;
  }
  .recipe-title {
    font-size: 4rem;
    width: 85vmin;
  }
  .recipe-popup {
    height: 135vmin;
  }
  .close-icon {
    width: 6vmin;
  }
  .image-ingredients {
    flex-direction: column;
  }
  .button-container {
    flex-direction: column;
    margin-bottom: 10%;
  }
  .modal-button{
    height: 10vmin;
    font-size: 2rem;
    border-width: 5px;
    margin: 2%;
  }
  h2, .all-recipes{
    font-size: 3rem;
  }
  h3, h4, .my-recipes-title {
    font-size: 4rem;
  }
  .modal-img {
    height: 80vmin;
    width: 90vmin;
  }
  .recipe-popup li {
    font-size: 3rem;
  }
  .heart-icon {
    width: 20vmin;
    position: absolute;
    right: 4vmin;
    top: 4vmin;
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 8%;
  }
  .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    background-color: rgba(0 0 0 / 80%);
    height: 100vh;
    width: 700px;
    top: 7.3%;
    left: 25%;
    padding-right: 0;
  }
  .my-recipes, .filter-select, .search-bar {
    color: black;
    font-size: 35px;
    background-color:#E1E1E1;
    width: 500px;
    height: 100px;
    border: none;
    text-align: center;
    margin: 5%;
  }
  .search-bar{
    width: 540px;
    padding-left: inherit;
  }
  .nav-logo {
    width: 30vmin;
  }
  .menu-icon {
    display: block;
    width: 12vmin;
    margin: 3%;
  }
  .close-menu {
    width: 12vmin;
    margin: 3%;
  }
  .user-name {
    font-size: 2rem;
  } 
  .user-icon {
    display: none;
  }
  .filter-select {
    margin-right: 0%;
  }
  .filter-img {
    border: none;
    margin-right: 5%;
    background-color: #E1E1E1;
    height: 100px;
  }
  .hidden {
    display: none;
  }
}
