body {
  padding-top: 15vmin;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

/* ALL NAV BAR CLASSES */
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  align-items: flex-end;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 3px 8px #888888;
  z-index: 3;
}

.nav-logo {
  width: 20vmin;
  align-self: center;
  padding-left: 2%;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  padding-right: 4vmin;
}

.input-bar {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
  padding: 0 1vmin 0 1.5vmin;
}

.search-bar {
  padding-left: 5vmin;
}

.filter-img {
  font-family: inherit;
  border: none;
  border-bottom: 2px solid black;
  height: 3vmin;
}

form {
  display: flex;
  align-items: center;
}

select, option {
  font-family: inherit;
  background-color: white;
}

.my-recipes {
  border-bottom: 2px solid black;
  padding: 0 2vmin;
  margin: 0;
}

.title-logo {
  width: 90vmin;
}

.user-icon {
  padding-right: 1%;
  width: 4vmin;
}

.user-name {
  display: flex;
  align-items: center;
  color: white;
}

.user-text {
  text-align: center;
  padding: 0 1.5vmin;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}

/* ALL RECIPE CARD CLASSES */
.all-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  height: 46vmin;
  width: 45vmin;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  background-color: #E1E1E1;
  margin: 3vmin;
  position: relative;
}

.recipe-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 10px #888888;
}

.pointer {
  cursor: pointer;
}

.recipe-img {
  padding-top: 3%;
  height: 35vmin;
  width: 42vmin;
  border-radius: 4%;
  filter: drop-shadow(0px 5px 8px #888888);
}

.heart-icon {
  width: 10vmin;
  position: absolute;
  right: 0.7vmin;
  top: 0.7vmin;
}

.recipe-title {
  position: relative;
  top: -4vmin;
  margin: 0;
  padding: 3vmin;
  font-size: 1.6rem;
  width: 40vmin;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ALL MODAL/POP-UP RECIPE CLASSES */
.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 80%);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow: hidden;
}

.recipe-popup {
  height: 70vmin;
  width: 80vmin;
  border: 2px white solid;
  border-radius: 5px;
  background-color: #E1E1E1;
  margin-top: 3vmin;
  overflow: auto;
  padding: 3vmin;
  padding-right: 5vmin;
}

.close-icon {
  float: right;
  width: 3vmin;
}

.modal-img {
  height: 40vmin;
  width: 45vmin;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 3px black);
}

.button-container {
  margin-top: 5vmin;
  display: flex;
  justify-content: space-around;
}

.modal-button {
  font-family: inherit;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.modal-button:hover {
  background-color: black;
  color: white;
}

.image-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  text-align: left;
  margin-bottom: 0.4vmin;
}

.oregano-font {
  font-family: 'Oregano', cursive;
}

.footer-logo {
  width: 60vmin;
  padding: 15vmin;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.off-page {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media print {
  .nav-bar, .all-recipes, .modal-img, .modal-button, .close-icon, h4 {
    display: none;
  }

  .recipe-popup {
    font-size: 1.2rem;
    height: auto;
    width: 100%;
    border: none;
    background-color: white;
    margin: 0;
    overflow: visible;
    padding: 0;
  }

  .recipe-popup > h2 {
    margin: 0;
  }

  .print-container {
    font-size: 1.5rem;
    display: flex;
  }

  .print-container > ul {
    width: 35%;
  }

  .print-container > ol {
    width: 65%;
    margin-top: 0;
  }
}

@page {
  margin: 2cm;
}