body {
  padding-top: 15vmin;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

/* ALL NAV BAR CLASSES */
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  align-items: flex-end;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 3px 8px #888888;
  z-index: 3;
}

.nav-logo {
  width: 20vmin;
  align-self: center;
  padding-left: 2%;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  padding-right: 4vmin;
}

.search-bar {
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid black; 
  border-radius: 10px;
  padding-left: 5vmin;
}

.filter-header {
  text-align: center;
  padding: 1vmin 2vmin;
  padding-bottom: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
}

.navbar li:hover, .dropdown:hover .dropbtn {
  background-color: #E1E1E1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li {
  float: none;
  color: black;
  padding: 1.5vmin;
  display: block;
  text-align: left;
}

.dropdown-content li:hover {
  background-color: #E1E1E1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.title-logo {
  width: 110vmin;
  padding: 15vmin;
}

.user-icon {
  padding-right: 1%;
  width: 4vmin;
}

.user-name {
  display: flex;
  align-items: center;
  color: white;
}

.user-text {
  text-align: center;
  padding: 0 1.5vmin;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}

/* ALL RECIPE CARD CLASSES */
.all-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  height: 46vmin;
  width: 45vmin;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  background-color: #E1E1E1;
  margin: 3vmin;
  position: relative;
}

.recipe-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 10px #888888;
}

.pointer {
  cursor: pointer;
}

.recipe-img {
  padding-top: 3%;
  height: 35vmin;
  width: 42vmin;
  border-radius: 4%;
  filter: drop-shadow(0px 5px 8px #888888);
}

.heart-icon {
  width: 10vmin;
  position: absolute;
  right: 0.7vmin;
  top: 0.7vmin;
}

.recipe-title {
  position: relative;
  top: -4vmin;
  margin: 0;
  padding: 3vmin;
  font-size: 1.6rem;
  width: 40vmin;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-title:hover {
  overflow-y: scroll;
  background-color: #E1E1E1;
  box-shadow: 10px 10px 13px #888888;
  padding: 0 2.5vmin;
  height: 15vmin;
  white-space: normal;
  border-radius: 5px;
}

/* ALL MODAL/POP-UP RECIPE CLASSES */
.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 80%);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow: hidden;
}

.recipe-popup {
  height: 70vmin;
  width: 80vmin;
  border: 2px white solid;
  border-radius: 5px;
  background-color: #E1E1E1;
  margin-top: 3vmin;
  overflow: auto;
  padding: 3vmin;
  padding-right: 5vmin;
}

.close-icon {
  float: right;
  width: 3vmin;
}

.modal-img {
  height: 40vmin;
  width: 45vmin;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 3px black);
}

.save-button {
  font-family: inherit;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.save-button:hover {
  background-color: black;
  color: white;
}

.image-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  text-align: left;
  margin-bottom: 0.4vmin;
}

.oregano-font {
  font-family: 'Oregano', cursive;
}

.footer-logo {
  width: 60vmin;
  padding: 15vmin;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.off-page {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}